
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Productos</li>
</ol>


<div class="card">
    <div class="card-header">
        <i class="fas fa-hammer"></i> Bienvenido a la Lista de Productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <!-- Con el metodo onclik para abrir el modal cada vez que hagan click -->
                <button class="btn btn-success" onclick="abrirModal(null)">Nuevo Producto</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style=" width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>

            <tbody></tbody>

        </table>
    </div>
</div>

<!--Modal para el manejo de     data-bs-backdrop="static"  (para que no se cierre si click pantalla)-->
<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="FormularioModal" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header bg-dark text-white">
                <h6 class="modal-title"> Productos - Ferreteria El Abuelo</h6>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">

                <input id="txtId" type="hidden" value="0" />



                <form id="contenedor" class="row">
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <img id="imgProducto" style="height: 195px; resize:none" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>

                        <div class="mb-3">
                            <input class="form-control" type="file" id="fileProducto" accept="image/png, image/jpg, image/jpeg" onchange="mostrarImagen(this)" />

                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="Nombre" placeholder="Nombre"/>
                        </div>

                        <div class="mb-3">
                            <label for="txtDescripcion" class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" id="txtDescripcion" placeholder="Descripción" style="height: 125px; resize:none" name="Descripcion"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Marca</label>
                            <select id="cboMarca" class="form-select">
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Categoria</label>
                            <select id="cboCategoria" class="form-select">
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="txtPrecio" class="form-label">Precio</label>
                            <input type="text" class="form-control" id="txtPrecio" placeholder="Precio" name="Precio" />

                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="txtStock" class="form-label">Stock</label>
                            <input type="text" name="Stock" class="form-control" id="txtStock" placeholder="Stock" autocomplete="off">
                        </div>

                        <div class="mb-3">
                            <label for="cboActivo" class="form-label">Activo</label>
                            <select id="cboActivo" class="form-select">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </form>


                
    
                <!--Mensaje de alerta-->
                <div class="row mt-3">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="Guardar()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>




@*Trabajar con ajax para que devuelva datos dinamicos*@

@section scripts{
    <script>
        var tabladata;
        var filaSeleccionada;


        function mostrarImagen(input) {
            if (input.files) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#imgProducto").attr("src", e.target.result).width(200).height(197)
                }

                reader.readAsDataURL(input.files[0])

            }
        }




        jQuery.ajax({
            url: '@Url.Action("ListarProductos", "Mantenimiento")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data)
            }
        })


        //trabajar para listar productos

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarProductos", "Mantenimiento")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "Nombre" },
                { "data": "Descripcion" },
                {
                    "data": "oMarca", "render": function (data) {
                        return data.Descripcion
                    }
                },
                {
                    "data": "oCategoria", "render": function (data) {
                        return data.Descripcion
                    }
                },
                { "data": "Precio" },
                { "data": "Stock" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>'
                        } else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searcheable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            }
        });


        //trabajar con el cboMarca
        jQuery.ajax({
            url: '@Url.Action("ListarMarcas", "Mantenimiento")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; chasert=utf-8",
            success: function (data) {
                //lógica para obtener la lista de marca

                console.log(data)

                $("<option>").attr({ "value": "0","disabled": "true" }).text("Seleccionar").appendTo("#cboMarca");

                $.each(data.data, function (index, item) {
                    $("<option>").attr({ "value": item.IdMarca }).text(item.Descripcion).appendTo("#cboMarca");
                })



            },
            erro: function (data) {
                console.log(data)
            }
        });


        //trabajar con el cborCategoria
        jQuery.ajax({
            url: '@Url.Action("ListarCategorias", "Mantenimiento")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; chasert=utf-8",
            success: function (data) {
                //lógica para obtener la lista de marca

                console.log(data)

                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cboCategoria");

                $.each(data.data, function (index, item) {
                    $("<option>").attr({ "value": item.IdCategoria }).text(item.Descripcion).appendTo("#cboCategoria");
                })



            },
            erro: function (error) {
                console.log(error)
            }
        });




        //LOGICA PARA VALIDACIONES A LA HORA DE INGRESAR el precio AL SISTEMA --expresiones regulares
        jQuery.validator.addMethod("preciodecimal", function (value, element) {
            return this.optional(element) || /^\d{0,4}(\.\d{0,2})?$/i.test(value);
        }, "El formato correcto del precio debe ser ##.## , ej : 35.50");


        $("#contenedor").validate({
            rules: {
                Nombre: {
                    required: true
                },
                Descripcion: {
                    required: true
                },
                Precio: {
                    required: true,
                    preciodecimal: true
                },
                Stock: {
                    required: true,
                    number: true
                }
            },

            messages: {
                Nombre: " - El campo nombre es obligatorio", 
                Descripcion: " - El campo descripcion es obligatorio ",
                Precio: { required: " - El campo precio es obligatorio ", preciodecimal: "El formato correcto del precio debe ser ##.## , ej : 35.50" },
                Stock: { required: " - El campo stock es obligatorio", preciodecimal: "Debe ingresar solo numero en el stock" },
            },

            erroElement: "div",
            errorLabelContainer: ".alert-danger"
        })
      


        //el formato de la data es un json

        function abrirModal(json) {

            $("#txtId").val(0)
            $("#imgProducto").removeAttr("src");
            $("#fileProducto").val("")
            $("#txtNombre").val("")
            $("#txtDescripcion").val("")
            $("#cboMarca").val($("#cboMarca option:first").val());
            $("#cboCategoria").val($("#cboCategoria option:first").val());
            $("#txtPrecio").val("")
            $("#txtStock").val("")
            $("#cboActivo").val(1)

            $("#mensajeError").hide()

            if (json != null) {
                $("#txtId").val(json.IdProducto)
                $("#txtNombre").val(json.Nombre)
                $("#txtDescripcion").val(json.Descripcion)
                $("#cboMarca").val(json.oMarca.IdMarca);
                $("#cboCategoria").val(json.oCategoria.IdCategoria)
                $("#txtPrecio").val(json.Precio)
                $("#txtStock").val(json.Stock)
                $("#cboActivo").val(json.Activo == true ? 1 : 0)


                //que la imagen aparezca

                jQuery.ajax({
                    url: '@Url.Action("ImagenProducto", "Mantenimiento")',
                    type: "POST",
                    data: JSON.stringify({ id: json.IdProducto }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.conversion) {
                            $("#imgProducto").attr({ "src": "data:image/" + data.extension + ";base64," + data.textoBase64 })
                        }
                    },
                    error: function (error) {
                        $("#imgProducto").LoadingOverlay("hide");

                        $("#mensajeError").show();
                        $("#mensajeError").text("Error al mostrar imagen");
                    },
                    beforeSend: function () {
                    },
                })



            }

            $("#FormularioModal").modal("show");
        }


        // Cada vez que se haga click en el icono de editar marca
        $("#tabla tbody").on("click", '.btn-editar', function () {

            //con this estamos llamando a  porque estamos dentro de la tabla su evento
            filaSeleccionada = $(this).closest("tr");

            //que seleccione cada uno de los objetos llamado por boton
            const data = tabladata.row(filaSeleccionada).data()

            //necesitamos pasarle los datos del registro al modal
            abrirModal(data)

        })


        // Cada vez que se haga click en el boton eliminar marca
        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            //con this estamos llamando a  porque estamos dentro de la tabla su evento
            var productoSeleccionado = $(this).closest("tr");

            //que seleccione cada uno de los objetos llamado por boton
            const data = tabladata.row(productoSeleccionado).data()


            swal({
                title: "Estas seguro?",
                text: "¿Deseas eliminar el Producto?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Eliminar Producto",
                cancelButttonText: "Cancelar",
                closeOnConfirm: true,
            },
            function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarProducto", "Mantenimiento")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdProducto }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                tabladata.row(productoSeleccionado).remove().draw();
                            } else {
                                swal("No se puede eliminar", data.mensaje, "error")
                            }

                        },
                        error: function (error) {
                            console.log(error)
                        },
                        beforeSend: function () {

                        },
                    });
            })
        })


        //creando la función guardarProducto
        function Guardar() {

            if (!$("#contenedor").valid()) {
                return;
            }


            var ImagenSeleccionada = $("#fileProducto")[0].files[0];


            var Producto = {
                IdProducto: $("#txtId").val(),
                Nombre: $("#txtNombre").val(),
                Descripcion: $("#txtDescripcion").val(),
                oMarca: {
                    IdMarca: $("#cboMarca option:selected ").val(),
                    Descripcion: $("#cboMarca option:selected").text()
                },
                oCategoria: {
                    IdCategoria: $("#cboCategoria option:selected ").val(),
                    Descripcion: $("#cboCategoria option:selected").text()
                },
                PrecioTexto: $("#txtPrecio").val(),
                Precio: $("#txtPrecio").val(),
                Stock: $("#txtStock").val(),
                Activo: $("#cboActivo").val() == 1 ? true : false
                
            }

            //trabajaremos con formData porque nos permitira enviar archivos ( en este caso la imagen ) y sera convertido a una cadena string
            //para que este sea alamacenado en la base de datos

            var request = new FormData();
            request.append("objeto", JSON.stringify(Producto))
            request.append("archivoImagen", ImagenSeleccionada)



            //estructura ajax

            jQuery.ajax({
                url: '@Url.Action("GuardaProducto", "Mantenimiento")',
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    //PRODUCTO NUEVO
                    if (Producto.IdProducto == 0) {

                        if (data.idGenerado != 0) {
                            Producto.IdProducto = data.idGenerado;
                            tabladata.row.add(Producto).draw(false)

                            $("#FormularioModal").modal("hide");
                            console.log("Producto Creado")
                        } else {
                            $("#mensajeError").text(data.mensaje)
                            $("#mensajeError").show()
                        }
                    //PRODUCTO EDITADO
                    } else {

                        if (data.operacion_exitosa) {
                            tabladata.row(filaSeleccionada).data(Producto).draw(false)
                            filaSeleccionada = null;

                            $("#FormularioModal").modal("hide");

                            console.log("Producto Editada")
                        } else {
                            $("#mensajeError").text(data.mensaje)
                            $("#mensajeError").show()
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");

                    $("#mensajeError").text("Error en el ajax")
                    $("#mensajeError").show()
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Un momento ...",
                        size: 15
                    })
                }
            });
        }

    </script>
}