
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header-->
<header class="py-5" style=" background: url('https://www.cvcdisenocomercial.com/wp-content/uploads/2021/07/Diseno-de-interiores-para-ferreterias-1024x614.jpg'); ">
    <div class="container-fluid px-4 px-lg-5 mt-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="color:black; background-color:red;">La Ferreteria Minorista #1 a tu alcance</h1>
            <p class="lead fw-normal mb-0" style="color:black;  background-color:coral;">Encuentra los mejores productos en Ferreteria El Abuelo, más de 12 años brindando calidad</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container-fluid px-5 my-5">

        <div class="row">
            <div class="col-sm-3">


                <section class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header text-white" style="background-color: #2f3338;">
                                Categorias
                            </div>

                            <div id="contenedor_categoria" class="card-body">
                                
                            </div>
                        </div>

                    </div>
                </section>


                <section class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header text-white" style="background-color: #2f3338;">
                                Marcas
                            </div>

                            <div id="contenedor_marca" class="card-body">

                            </div>
                        </div>

                    </div>
                </section>

                <section class="row mb-3">
                    <div class="col-sm-12">
                        <div class="d-grip gap-2">
                           <button id="btnAplicarFiltro" class="btn btn-outline-dark btn-block" type="button">
                               <i class="fas fa-filter"></i>Aplicar Filtros
                           </button>
                        </div>
                    </div>
                </section>

            </div>

            <div class="col-sm-9">
                <div id="contenedor_producto" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>



@section scripts{
    
    <script>
        $(document).ready (function () {
            MostrarCategorias()
            MostrarProductos(0, 0)
        })

        function MostrarCategorias() {
            jQuery.ajax({
                url: "@Url.Action("ListaCategorias", "Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    //<div class="form-check">
                    //    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                    //    <label class="form-check-label" for="flexRadioDefault1">
                    //        Default Radio
                    //    </label>
                    //</div>

                    $("#contenedor_categoria").LoadingOverlay("hide");

                    $("<div>").addClass("form-check").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": "0", "id": "cx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "cx" })
                    ).appendTo("#contenedor_categoria")


                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": element.IdCategoria, "id": "c" + i }),
                            $("<label>").addClass("form-check-label").text(element.Descripcion).attr({ "for": "c" + i })
                        ).appendTo("#contenedor_categoria")
                    })

                    MostrarMarcas();


                },
                beforeSend: function () {
                    $("#contenedor_categoria").LoadingOverlay("show");
                }
            })
        }




        function MostrarMarcas() {

            var _idCategoria = $("input[name=categoria]:checked").val()

            jQuery.ajax({
                url: "@Url.Action("ListarMarcaPorCategoria", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idCategoria: _idCategoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    //limpia todo el contenedor antes de configurar con categorias y marcas
                    $("#contenedor_marca").html("")

                    $("#contenedor_marca").LoadingOverlay("hide");

                    $("<div>").addClass("form-check").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marca", "value": "0", "id": "mx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "mx" })
                    ).appendTo("#contenedor_marca")


                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marca", "value": element.IdMarca, "id": "m" + i }),
                            $("<label>").addClass("form-check-label").text(element.Descripcion).attr({ "for": "m" + i })
                        ).appendTo("#contenedor_marca")
                    })

                },
                beforeSend: function () {
                    $("#contenedor_marca").LoadingOverlay("show");
                }
            })
        }

        $(document).on("change", "input[name=categoria]", function () {
            MostrarMarcas()
        })



        function MostrarProductos(_idCategoria, _idMarca) {

            jQuery.ajax({
                url: "@Url.Action("ListarProducto", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idCategoria: _idCategoria, idMarca: _idMarca }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    //limpia todo el contenedor antes de configurar con categorias y marcas
                    $("#contenedor_producto").html("")
                    $("#contenedor_producto").LoadingOverlay("hide");


                    $.each(response.data, function (i, element) {
                        //trabajar con todo el html que es inmenso, pero trabajamos con funcionalidades de js para esto

                        $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100").append(
                                $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.Extension + ";base64," + element.Base64 }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.Nombre),
                                        "$" + element.Precio.toFixed(2) + " PEN"

                                    )
                                ),
                                $("<div>").addClass("card-footer p-2 pt-0 border-top-0 bg-transparent").append(
                                        //Aplicamos lógica de validacion de sesiones, si el cliente esta en sesión, es parte de :
                                        $("<div>").addClass("d-grid gap-2").append(

                                            @if (Session["Cliente"] != null)
                                            {
                                                @:$("<button>").addClass("btn btn-success mt-auto agregarCarrito").data("idProducto", element.IdProducto).text("Agregar Carrito"),
                                            }

                                             $("<a>").addClass("btn btn-dark mt-auto ")
                                             .attr({ "href": "@Url.Action("DetalleProducto","Tienda")" + "?idProducto=" + element.IdProducto })
                                             .text("Ver Detalle")
                                        )
                                )

                            )
                        ).appendTo("#contenedor_producto")
                    })

                },
                beforeSend: function () {
                    $("#contenedor_producto").LoadingOverlay("show");
                }
            })
        }

        $("#btnAplicarFiltro").click(function () {
            var _idCategoria = $("input[name=categoria]:checked").val()
            var _idMarca = $("input[name=marca]:checked").val()
            MostrarProductos(_idCategoria, _idMarca)
        })


        $(document).on("click", "button.agregarCarrito", function () {
            console.log($(this).data("idProducto"))

            jQuery.ajax({
                url: '@Url.Action("AgregarCarrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idProducto: $(this).data("idProducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.respuesta) {
                        MostrarCantidadCarrito();

                        //haciendo uso de la librerias
                        swal({
                            title: "Agregado al carrito",
                            text: "¿Desea ir al carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true
                        }, function () {
                            window.location.href = '@Url.Action("Carrito","Tienda")'
                        })
                    } else {
                        swal("", data.mensaje, "warning");
                    }
                }
            });

        })

    </script>
}